a{
	color: blue;
}
/*tylko paragrafy z klasa first maja byc brane pod uwage!*/
p.first{
	color: grey;
	background-color: red;
	font-size: 24px;
	font-weight: normal;
}
.second{
	color: #b30000;
}
[target="_blank"]{
	color: green;
}